.App {
    display: flex;
    min-height: 100vh;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 6;
    margin: 45px 16px 39px;
    @media only screen and (min-width: 940px) {
        margin-bottom: 37px;
    }
    @media only screen and (min-width: 768px) {
        align-items: flex-end;
    }
}
.container {
    @media only screen and (min-width: 768px) {
        max-width: 615px;
        margin-right: 195px;
    }
    @media only screen and (min-width: 1182px) {
        margin-right: 17%;
    }
}
.banner-wrapper {
    position: relative;
    background-color: #F8F8FE;
    display: none;
    flex: 4;
    @media only screen and (min-width: 768px) {
        display: flex;
    }
}
.banner__img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
    margin: 70px auto 0;
    max-width: 400px;
    flex: 1;
    &__title {
        color: #744CED;
        font-size: 28px;
    }
    @media only screen and (min-width: 768px) {
        max-width: 470px;
        margin-left: 0;
        margin-right: 0;
    }
}
.main__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #744CED;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    text-decoration: none;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    &-text {
        margin-left: 12px;
    }
}

.section {
    &__title {
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
        color: #1F1D1C;
        &-description {
            color: #4A3C73;
            font-size: 16px;
            line-height: 20.8px;
            margin-top: 20px;
        }
        @media only screen and (min-width: 768px) {
            font-size: 28px;
            line-height: 36px;
            &-description {
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
    &__header {
        margin-top: 74px;
    }
    &__footer {
        margin-top: 60px;
    }
    @media only screen and (min-width: 768px) {
        &__footer {
            margin-top: 38px;
        }
    }
}
.close-icon {
	position: absolute;
	top: 17px;
	right: 25px;
	width: 14px;
    height: 14px;
    border: none;
    background: none;
	opacity: 0.2;
	cursor: pointer;
    transition: opacity ease 0.5s;

	&:hover {
		opacity: 1;
	}
}

.close-icon::before,
.close-icon::after {
	content: '';
	position: absolute;
    top: 7px;
    left: 0;
	display: block;
	width: 14px;
	height: 1.5px;
    background: #4A3C73;
}

.close-icon::before {
	transform: rotate(45deg);
}

.close-icon::after {
	transform: rotate(-45deg);
}